<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional_Suite">
  <test name="CreateNewContact_Test">
  	<groups>
  		<run>
  			<include name="loginPage"/>
  			
  		</run>
  	</groups>
    <classes>
      <class name="com.testng.login.demo.NewContactTest"/>
    </classes>
  </test> 
  <!-- <test name="clickSave_Test">
  <groups>
  <run>
  	<include name="Regression Test"/>
  </run>
  </groups>
  
    <classes>
    <class name="com.testng.login.demo.NewContactTest"/>
    </classes>
  </test>  -->
</suite> 